<div class="row" >
  <div class="col-md-4">
    {{movieItem.name}}
  </div>
  <div class="col-md-4">
    {{movieItem.releaseDate}}
  </div>
  <div class="col-sm-1">
    <button type="button"
            class="btn"
            style=" color:#FF0000;">
      <span class="glyphicon glyphicon-remove" (click)="deleteMovie(movieItem.id)"></span></button>
  </div>
  <div class="col-sm-1">
    <button type="button"
            class="btn"
            style=" color:#FF0000;">
      <span class="glyphicon glyphicon-edit" (click)="editMovie(movieItem.id)"></span></button>
  </div>
</div>
